<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./style.css">
    <title>login</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(function() {
            $('#header').load("fragments.html")
        });
    </script>
</head>
<body>
<div id="header"></div>
<div align="center">
    <br>
    <h1> Welcome to login page </h1> <br>
<form action="auth" method="post">

        <label for="email"></label>
        <input type="text" id="email" name="email" placeholder="Email"/>
        <br><br>
        <label for="password"></label>
        <input type="password" id="password" name="password" placeholder="Password"/>
        <br><br>
    <input type="submit" name="submit" value="login" class="btn btn-secondary btn">
        <br><br>

</form>
    <form>
        <table>
            <tr><th><a href = "contact.html">Forgot password?</a> </th>

            </tr>
        </table>
    </form>
</div>

</body>
</html>